.forget-container{
    background-image: url("assets/forget.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forget {
  margin: 20px auto;
  padding: 40px 50px;
  width: 400px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 6px 5px 19px -4px rgba(0,0,0,0.75);
}
  .forget input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.forget input[type=text],
.forget input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.forget input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
} 

.forget input[type=submit] {
  border: none;
  background: #EF5350;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.forget input[type=submit]:hover {
  background: #F44336;  
}

  .forget h2 {
    margin: 20px 0 0; 
    color: #EF5350;
    font-size: 28px;
  }

.forget p {
  margin-bottom: 40px;
}


  .reset h2,
  .reset p,
  .reset a {
    text-align: center;    
  }

.reset a {
  text-decoration: none;  
  font-size: .8em;
}

.reset a:visited {
  color: inherit;
}

.reset a:hover {
  text-decoration: underline;
}